/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 0.9375rem;
  line-height: 166.667%;
  background-color: #0a0c1c;
  color: rgba(255, 255, 255, 0.75);
}

img {
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


.stats-preview-card {
  flex-shrink: 0;
  width: 100%;
  max-width: 69.375rem;
  margin: auto;
  border-radius: 8px;
  background-color: #1b1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.20);
  overflow: hidden;
}

.stats-preview-card__picture {
  width: 100%;
}

.stats-preview-card__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.stats-preview-card__body {
  padding: 40px 32px 32px;
  text-align: center;
}

.stats-preview-card__heading {
  margin-bottom: 16px;
  font-size: 1.75rem;
  line-height: 114.286%;
  color: #FFF;
}

.stats-preview-card__highlight {
  color: #ab5cdb;
}

.stats-preview-card__text {
  margin-bottom: 40px;
}

.stats-preview-card__stats {
  display: grid;
  gap: 24px;
}

.stats-preview-card__stats-group {
  display: flex;
  flex-direction: column-reverse;
}

.stats-preview-card__title {
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 0.75rem;
  line-height: 208.333%;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.stats-preview-card__value {
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* 500 */
@media only screen and (min-width: 31.25em) {
  .stats-preview-card__img {
    object-position: center -30px;
  }

  .stats-preview-card__stats {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 960 */
@media only screen and (min-width: 60em) {
  .stats-preview-card {
    display: flex;
    flex-direction: row-reverse;
  }

  .stats-preview-card__picture {
    width: 33.75rem;
  }

  .stats-preview-card__img {
    width: 540px;
    height: 446px;
    object-position: center;
  }

  .stats-preview-card__body {
    display: flex;
    flex-direction: column;
    width: 35.625rem;
    padding: 72px;
    padding-right: 95px;
    text-align: left;
  }

  .stats-preview-card__heading {
    margin-bottom: 25px;
    font-size: 2.25rem;
    line-height: 122.222%;
  }

  .stats-preview-card__text {
    margin-bottom: auto;
  }

  .stats-preview-card__stats {
    gap: 64px;
  }
}
